<main class="main">
  <div class="main__content">
    <article class="main__post">
      <a href="#" class="main__title">Cuidado com os animais na quarentena</a>
      <div class="main__subtitle">
        <p class="main__date">17/08/2018</p>
        <span class="main__tag">Cães</span>
      </div>
      <div class="main__details">
        <img src="../../assets/img/dog.jpg" alt="cachorro" class="main__img"/>
        <p class="main__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam dicta molestias ipsum iure, libero vero voluptatum sequi officiis numquam sed expedita vitae adipisci accusamus ipsa autem deleniti dolorem ut error!</p>
      </div>
    </article>
  </div>
</main>
